@charset "UTF-8";
/*   
Theme Name: Energieuoi
Theme URI: https:www.energieuoi.ca
Description: Thème de l'unité des opérations immobilières de Valcartier
Author: Unités Opérationnelles Immobilières de valcartier
Author URI: https:www.energieuoi.ca
Version: 1.0
Text Domain: economieenergieuoi
*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

/*
* Menu header
*/
div[class^="menu-menu-secondaire-container"]{
  padding: 0.5% 0;
  margin-bottom: 0;
  background-color: #228B22; 
  text-align: right;
 }

ul[id="menu-menu-secondaire"]{
  margin-bottom: 0;
  margin: 0 auto;
  width: 1400px;
 }

 ul[id="menu-menu-secondaire"] .menu-item a{
  color: #FFFF00 !important;
 }
 
/*
* Header
*/
header{
  background: linear-gradient(90deg, rgba(241,230,13,1) 5%, rgba(111,197,238,1) 100%);
  width: 100%;
  height: 100px;
}

.menu-header{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
}

/** Toggle menu*/

header .menu-header li .sub-menu,
footer #menu-footer li .sub-menu{
  display: none;
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
  background-color: rgba(111,197,238,0.60);
  box-shadow: 1px 1px 10px rgba(97, 202, 123, 0.49);
  margin: 0;
  padding: 0;
  width: 170px;
  border-radius: 0.75rem;
}

header .menu-header li .sub-menu a,
footer #menu-footer li .sub-menu a {
  padding: .25rem;
  display: block;
}

header .menu-header li .sub-menu a:hover,
footer #menu-footer li .sub-menu a:hover {
  color: #FFFF00;
}

header .menu-header .menu-item-has-children:hover .sub-menu,
footer #menu-footer .menu-item-has-children:hover .sub-menu{
  display: block;
  
}

header .menu-header li,
footer #menu-footer li{
  position: relative;
}

.site__header__menu, 
div[class^="menu"] ul{
  padding: 0;
}

ul[id="menu-menu-pincipal"] .menu-item,
div[class^="menu"] .menu-item{
  list-style-type: none;
  display: inline-block;
  /*margin-right: 20px;*/
  padding: 0.25rem 1rem;
}

.container{
 max-width: 1400px;
 margin: 0 auto;
}
ul[id="menu-menu-pincipal"] .menu-item a,
div[class^="menu"] .menu-item a{
  text-decoration: none;
  color: #228B22;
}

ul[id="menu-menu-pincipal"] .menu-item a:hover,
div[class^="menu"] .menu-item a:hover,
main article a:hover{
  text-decoration: underline;
}

.site__header__menu, 
div[class^="menu"] ul{
  padding: 0;
}

div[class^="menu-header"], #menu-footer, #footer1, body>h1{
  width: 1400px;
  margin: 0 auto;
}

div[class^="logo-header"]{
  width: 250px;
}

div[class^="menu-header"] img{
  width: 100%;
}

/*
* Main
*/

div[class^="card-deck"]{
  display: inline-flex;
}


main#accueil{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

main article a{
  text-decoration: none;
  color: #333;
}

article{
  width: 22%;
  margin-bottom: 5%;
}

/*
* Sous-titres 
*/
.m-5 {
  margin:3rem 0 !important;
 }
 

/*
* Footer
*/

footer{
  margin-top: 2%;
  background: linear-gradient(90deg, rgba(241,230,13,1) 5%, rgba(111,197,238,1) 100%); ;
  padding: 2% 7%;
}

div[class^="logo-footer"]{
  width: 20%;
}

#menu-footer, #footer1{
  display: flex;
  justify-content: space-between;
  /*flex-wrap: nowrap;*/
  align-items: center;
}

#footer2, .footer2{
  padding: 1% 0;
  background-color: #228b22;
}

#footer2 a{
  color: #FFFF00;
  text-decoration: none;
}

#footer2 a:hover{
  text-decoration: underline;
}

div[class^="footer-link"]{
  display: flex;
}

div[class^="footer-link"] p {
  margin-right: 5px;
 }


/*
* Card
*/
.list-group-item{
  border:unset !important; 
 }

 .card {
  border:1px solid rgba(97, 202, 123, 0.49) !important;
 }
 

.col{
  padding: 2%;
  margin: 2%;
  color: #ffffff;
  background-color: #228B22;
  border-radius: 20px;
}

.far {
  margin-right: 1%;
 }

 .desaccord{
  margin: 2%;
  margin-bottom: 2% !important;
 }

 .card-width{
   width: 100px;
 }

 .card-img-with-35{
  width: 35%;
}

 .card-img-with-15{
   width: 25%;
 }

 .card-img-with-10{
  width: 15%;
}

.top{
  margin-top: 7%;
}

/*
* Icones
*/

 div.card-img-top {
  margin: 5% auto;
 }

/*
historique
*/

div.card-body:nth-child(1) > p:nth-child(1) {
  margin: 0 auto;
  width: 60%;
 }

 /*
 hover class
 */
 .titre5{
  color: #228B22;
}

.corpstexte{
  background-color: #228B22;
  color: #ffffff;
}

.test1{
  background-color: rgba(111,197,238,1);
  color: #FFFF00;
}

.text-caroussel{
  font-size: 125px;
}

.text1-caroussel{
  font-size: 75px;
}

.test2{
  margin-bottom: 18%;
}

.test2 h5, .test2 p{
  text-shadow: -1px 0 #228B22, 0 1px #228B22, 1px 0 #228B22, 0 -1px #228B22 ;
}

.polaroid {
  box-shadow: 0 8px 12px 0 rgba(34, 139, 34, 0.2), 0 10px 24px 0 rgba(34, 139, 34, 0.19);
}


 


 
 